* {
    padding: 0;
    box-sizing: border-box;
    margin-block: 0;
    max-height: 100vh;
}
.body {
    background: white;
}
.moovbar-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 16%;
    margin: 220px auto;
    padding: 22px;
}
#bar {
    display: inline-block;
    background: #3f5efb;
    width: 20px;
    height: 96px;
    border-radius: 50px;
    transition: background-position 1.2s, transform 1.2s ease-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
#bar:hover {
    background: linear-gradient(to bottom, #3f5efb, #fc466b, #3f5efb );
    transform: scaleY(1.8);
    background-size: 100% 200%;
    transition: background-position 0.6s, transform 0.6s ease-out;
    background-position: 0 150%;
}